Source: ${PACKAGE_NAME}
Maintainer: Neo Technology <debian@neotechnology.com>
Section: database
Priority: optional
Build-Depends: debhelper (>= 9)
Standards-Version: 3.7.2
Homepage: http://neo4j.org/

Package: ${PACKAGE_NAME}
Architecture: all
Section: database
Priority: optional
Pre-Depends: dpkg (>= 1.15.7.2), debconf (>= 0.2.17)
Depends: ${misc:Depends}, daemon, adduser, psmisc, lsb-base, openjdk-11-jre-headless | java11-runtime-headless, cypher-shell (>= 1:${NEO4J_BRANCH}), cypher-shell (<< 1:${NEXT_NEO4J_BRANCH})
Conflicts:
Replaces: ${REPLACES}, neo4j-advanced
Description: graph database server
 Neo4j server is a database that stores data as graphs rather than tables.
